body
{
    background: url('sudoku1.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
}
input{
    border: hidden;
    text-align: center;
    width: 50px;
    display: inline-block;

    border: 5px solid rgb(0, 255, 255);
    width: 40px;
    height: 40px;

    text-align: center;
    font-size: 30px;
}
td{
    text-align: center;
}